{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
    {% block content %}
<!--{% for user in posts%}
        <h1>{{user.sname}}</h1>
        <img
        class="user-image"
        src="{{user.dp.url}}"
        alt="post-image"
        srcset=""
      />
      
   {%endfor%}
   {%block posts%}-->
   
    
   <form method="POST"enctype="multipart/form-data" >
{% csrf_token %} 
<div class="formContainer">
<h1>Sign Up Form</h1>
<p>Full Name:</p>
<input type="text" place holder="Full Name" name="sname" required>
<p>Phone number:</p>
<input type="text" place holder="Contact" name="snum" id="myphone" required>
<p class="alertp" style="display:none;">Enter a valid number</p>
<p>Email</p>
<input type="text" placeholder="Enter Email" name="email" required>
<p>Birthday:</p>
<input type="date" id="dob" name="dob" required>
<div class="radiobtn" required>
<p>Gender</p>
<input type="radio"  name="gender" value="male" required style="color:#ffffff;">

  <b style="color:#ffffff;">Male</b>
  <input type="radio" name="gender" value="female" required>
   <b style="color:#ffffff;">Female</b>
  <input type="radio" name="gender" value="other" required>
   <b style="color:#ffffff;">Others</b></div>
  <p>District</p>
  <select name="dist" id="dist" onchange="LoadPLace(this.value)" required>
  <option>--select--</option>
  {%for data in DistrictRecords%}
    <option value="{{  data.id }}">{{data.district_name}}</option>
  {% endfor %}
  </select><br>

  <!--<label><b>Place</b></label>
  <select name="places" id="places" onchange="LoadPLace(this.value)">
  <option>--select--</option>
  {%for data in PlaceRecordSets%}
    <option value="">{{data.place_name}}</option>
  {% endfor %}
  </select><br>-->
<p>Username</p>
<input type="text" placeholder="Enter username" name="username" required>  



<p>Password</p>
<input type="password" placeholder="Enter Password" name="password" id="pass11" required>
<p>Repeat Password</p>
<input type="password" placeholder="Repeat Password" name="repeatPassword" id="paswinp"required><br>
<p class="alertp" style="display:none;">Password should be same</p>
<p>Upload Profile Picture</p>
 <input type="file" id="filename" name="filename" required><br>
<!--<p>
<input type="checkbox"  checked="checked" name="remember" style="marginbottom: 15px"> Remember me
</p>
<p>By creating an account you agree to our <a href="#"
style="color:dodgerblue">Terms & Privacy</a></p>-->
<div>


<button  class="signup cre-button" value="submit">Sign Up</button>
<button type="button" class="cancel" id="Cancel" >Cancel</button>
<script type="text/javascript">
    document.getElementById("Cancel").onclick = function () {
        location.href = "http://127.0.0.1:8000/accounts/login";
    };
</script>
</div>
</form>

 
    <!--{%endblock posts%}-->

  <script>
  $(document).ready(function () {
    $('#myphone').on('input', function () {

      if ($("#myphone").val().length <= 9) {
        $('.alertp').show()
        $('#myphone').css("border-color", "#d62b0c")

      }
      else {
        $('.alertp').hide()
        $('#myphone').css("border-color", "#0b7dd8")
      }
    })
  })
</script>
<script>
  $(document).ready(function () {
    $('.cre-button').click(function (e) {
      if ($("#myphone").val().length >= 7) {
        $('.subformclass').submit();
        $(".pre-lod").show();
      }
      else {
        alert("Enter proper phone number");
        e.preventDefault();
      }
    })
  })
</script>
<script>
  $(document).ready(function () {
    $("#paswinp").on("input", function () {
      var pass1 = $("#pass11").val();
      var pass2 = $("#paswinp").val();
      if (pass1 != pass2) {
        $(".alertp").show();
        $("#paswinp").css("border-color", "#d62b0c");
      } else {
        $(".alertp").hide();
        $("#paswinp").css("border-color", "#0b7dd8");
      }
    });
    $(".cre-button").click(function () {
      var pass1 = $("#pass11").val();
      var pass2 = $("#paswinp").val();
      if (pass1 != pass2) {
        alert("enter same password");
      } else {
        $(".subformclass").submit();
        $(".pre-lod").show();
      }
    });
  });
</script>
    {% endblock content %}