{% extends 'base.html' %}
{% block title %}Categories{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Categories</h2>
       


    <div class="row posters">
        {% for data in Category%}
        
            
        <div class="col-sm-3">
            <button type="submit" class="cardclass" id="cardclass" >
             
            
            <div class="cardposter" >
               
                
                    
            <a class="cards"  href="{%url 'Student:coursecat' data.dancecategory_name%}" >
               
            
                <img  class="categ"src="{{data.dancecategory_photo.url}}" />
        <div class="pclass ">
            <!--<p>Category:</p><h1>{{data.course_dancecategory}}</h1>
        <p>Trainer:<p><h1>{{data.course_tutor}}</h1>-->
        <h1 class="categoryp">{{data.dancecategory_name}}</h1>
        <!--<p>Level:<p><h1>{{data.course_level}}</h1> -->
        </div>   
        </button>
        </a>
        </div>
       
        {%endfor%}
        </div>
        </div>
    {% endblock content %} 
      