{% extends 'base.html' %}
{% block title %}Login{% endblock %}
    {% block content %}

<form action="" method="post">
    {% csrf_token %}
            <div class="formContainer">
                <p>Current Passowrd</p>
             <p>   <input type="password" name="txtCurrentPassword">
            
               <p> New Password:</p>
                <input type="password" name="txtNewPassword">
            

            
               <p> Confirm NewPassword<p></td>
                <input type="password" name="txtConfirmNewPassword">
            

            
                
                    <input type="submit" class="signup" name="btnLogin" align="right" value="Changepassword">
      </div>          
    </form>
    {% endblock content%}
