{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
    {% block content %}

<form action="" method="post">
    {% csrf_token %}
            <div class="formContainer">
                <p>Current Passowrd</p>
             <p>   <input type="password" name="txtCurrentPassword" required>
            
               <p> New Password:</p>
                <input type="password" name="txtNewPassword" required>
            

            
               <p> Confirm NewPassword<p></td>
                <input type="password" name="txtConfirmNewPassword"required>
            

            
                
                    <input type="submit" class="cancel" name="btnLogin" value="Changepassword">
      </div>          
    </form>
    {% endblock content%}
