{% extends 'base.html' %}
{% block title %}Videos{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Course videos</h2>
    
       
        
          <h1 class="section-header"></h1>
          <!--<div class="section-header-underline"></div>-->
          <div class="row posters videorow">

            
            
          {%for data in allVideos%}
          {%if data.cv_approve%}
          <div class="col-sm-3 colcol">
          
          <div class="video-gallery">
           
            
            <div class="gallery-item">
              <img src="{{data.cv_thumbnail.url}}" />
              <div class="gallery-item-caption">
                <div>
                  <h2>{{data.cv_title}}</h2>
                  
                </div>
                <a class="vimeo-popup myvideos" href="" data-toggle="modal" data-target="#my{{forloop.counter}}modal"></a>
              </div>
            </div>
            
            </div>
            </div>
            {%endif%}
        {%endfor%}
        </div>
    

        
     <script>
     
     var cip = $(".video-gallery").hover( hoverVideo, hideVideo );

function hoverVideo(e) {  
    $('video-gallery', this).get(0).play(); 
}

function hideVideo(e) {
    $('video-gallery', this).get(0).pause(); 
}
    </script>  
 {%for data in allVideos%}
    
      <!-- modal -->
      
      <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          
          <div class="modal-content videoframe">
            <div class="modal-header noheader">
              <h4 class="modal-title"></h4>
          
          <!-- <a class="favourites" href="{%url 'Student:favourites' data.id%}">fav<i class="fa fa-gratipay" aria-hidden="true"></i></a> -->
              <form class="event" action="{%url 'Student:favourites' data.id%}" method="POST"  name="" id="">
                {%csrf_token%}
                
                  <select name="vi" id="vi" onchange="LoadPLace(this.value)"style="display:none;">
                    
                    <option value="{{data.id}}" selected >{{data.cv_title}}</option>
                    
                  </select>
                
                  
                <button  type="submit" class="favourites " name="submit" id="submit" value="submit"><i class="fa fa-gratipay" aria-hidden="true"></i></button>
                
                
                
            </form> 
            
            

            <form class="event2" action="{%url 'Student:videofeed' data.id%}" method="POST"  name="" id="">
              {%csrf_token%}
              
                <select name="vi" id="vi" onchange="LoadPLace(this.value)"style="display:none;">
                  
                  <option value="{{data.id}}" selected >{{data.cv_title}}</option>
                  
                </select>
                <input type="text" class="thoughts" name="content" placeholder="Thoughts on this.">
              <button type="submit" class="commentbtn" name="go" id="go" value="submit" >OK</button>
              </form>
            
            </div>
            <div class="modal-body">
            <video class="videomodal" controls="controls"  ><source src="{{data.cv_video.url}}" type="video/mp4"/></video>  
            <h2></h2>
            <h2></h2>
            <h2></h2>
            
            

            
            </div>
          </div>
          
        </div>
      </div>
      <!-- modal end --> 
      
   {%endfor%}   
        
   <script>
    $('.fade-scale').on('hide.bs.modal', function(e) {
      var $v = $(e.delegateTarget).find('video');
      $v[0].pause();  // use [0] because jQuery returns a list
    });
  </script>
  
{%if Add%}
<script>
    alert("Video added to favourites")
</script>              
 {%endif%}    
<script>
  $('.event').submit(function(e){
    e.preventDefault();
    
    url = $(this).attr('action')
    data = $(this).serialize(); 
    $.post(url, data, function(response){
      alert('Added to Favourites.');
    })
})
</script>
<script>
  $('.event2').submit(function(e){
    e.preventDefault();
    url = $(this).attr('action')
    data = $(this).serialize(); 
    $.post(url, data, function(response){
      alert('Thoughts sent.');
    })
})
</script>


   
   {% endblock content %} 
   
  