{% extends 'base.html' %}
{% block title %}Category{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Courses</h2>
        <form method="POST" class="levelclass" >
       {% csrf_token %}
       <a href="" class="btn btn-success subscription">ALL</a>
        {%for a in DanceLevel%}
        <button type="submit" class="btn btn-success subscription"name="level" value="{{a.id}}" >{{a.dancelevel_name}}</button>
      
        {% endfor %}
        
      
        
        </form>

    <div class="row posters">
        {% for data in courses%}
      
    
        <div class="col-sm-3">
            <button type="button" class="cardclass" id="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal" >
            
        
         {%if data.is_premium%}   
            <div class="cardposter" style="box-shadow: 0 0 10px 0  #1e90ff;">
            
            <a class="cards" href="{%url 'Student:subvideos' data.slug%}">
           
            
                <img src="{{data.course_photo.url}}" />
        <div class="pclass">
        <i class="fa fa-lock" aria-hidden="true"></i>
            <!--<p>Category:</p><h1>{{data.course_dancecategory}}</h1>
        <p>Trainer:<p><h1>{{data.course_tutor}}</h1>-->
      <h1 style="margin-top: -24px;">{{data.course_name}}</h1>
      <p class="tutorname">{{data.course_tutor.tutor_name}}</p>
        <!--<p>Level:<p><h1>{{data.course_level}}</h1> -->
        </div>   
        </button>
        </a>
        </div>
        
        {%else%}
         <div class="cardposter">
            <a class="cards" href="{%url 'Student:viewvideo' data.slug%}">
            
                <img src="{{data.course_photo.url}}" />
        <div class="pclass">
            <!--<p>Category:</p><h1>{{data.course_dancecategory}}</h1>
        <p>Trainer:<p><h1>{{data.course_tutor}}</h1>-->
        <h1>{{data.course_name}}</h1>
        <p class="tutorname">{{data.course_tutor.tutor_name}}</p>
        <!--<p>Level:<p><h1>{{data.course_level}}</h1> -->
        </div>   
        </button>
        </a>
        </div>
        {%endif%}
        
      
        {%endfor%}

        </div>
        </div>
        
        
        

        
        
        
        
    {% endblock content %} 
      