{% extends 'base.html' %}
{% block title %}Favourites{% endblock %}
    {% block content %}

    <h1 class="pagetitle">Favourites</h2>
       
        
          <h1 class="section-header"></h1>
          <!--<div class="section-header-underline"></div>-->
          <div class="row posters videorow">

            
          {%if allVideos%}
          {%for data in allVideos%}
          <div class="col-sm-3 colcol">
          
          <div class="video-gallery">
          <form action="{%url 'Student:deletefav' data.id%}" method="POST"style="margin-top: -49px;">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger deletefav" value="submit" style="top: 60px;"><i class="fa fa-trash" aria-hidden="true"></i>
</button>
          </form>
            
            <div class="gallery-item">
              <img src="{{data.fvideo.cv_thumbnail.url}}" />
              <div class="gallery-item-caption">
                <div>
                  <h2>{{data.fvideo.cv_title}}</h2>
                  
                </div>
                <a class="vimeo-popup myvideos" href ="" data-toggle="modal" data-target="#my{{forloop.counter}}modal"></a>
              </div>
            </div>
            
            </div>
            </div>
        {%endfor%}
        {%else%}
        <p class="empty">Your favourite list is empty</p>
        {%endif%}
        </div>
    

        
     <script>
     
     var cip = $(".video-gallery").hover( hoverVideo, hideVideo );

function hoverVideo(e) {  
    $('video-gallery', this).get(0).play(); 
}

function hideVideo(e) {
    $('video-gallery', this).get(0).pause(); 
}
    </script>  
 {%for data in allVideos%}
      <!-- modal -->
      
      <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          
          <div class="modal-content videoframe">
            <div class="modal-header noheader">
              <h4 class="modal-title"></h4>
              
            </div>
            <div class="modal-body">
            <video class="videomodal" controls="controls"  ><source src="{{data.fvideo.cv_video.url}}" type="video/mp4"/></video>  
            <h2></h2>
            <h2></h2>
            <h2></h2>
            
            

            
            </div>
          </div>
          
        </div>
      </div>
      <!-- modal end -->                  
   {%endfor%}   
        
   <script>
    $('.fade-scale').on('hide.bs.modal', function(e) {
      var $v = $(e.delegateTarget).find('video');
      $v[0].pause();  // use [0] because jQuery returns a list
    });
  </script>
   
   {% endblock content %} 
   
   