{% extends 'base.html' %}
{% block title %}Courses{% endblock %}
    {% block content %}
    {%for a in videofeed%}
    <div class="feed">
    <p class="badge badge-success feedtitle">{{a.vfvideo.cv_title}}</p>
    <h1 class="feedback">{{a.vfvideo.cv_course.course_name}}</h1>
    <h1 class="content"><p>{{a.vcontent}}</p></h1>
    <h2 class="datesend">{{a.vfsend}}</h1>
    </div>
    {%if a.vview%}
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    {%endif%}

    {%endfor%}

    

    



    {% endblock content%}