{% extends 'base.html' %}
{% block title %}Home{% endblock %}
    {% block content %}

    <div class="row posters">
        {%for d in allnewsdata%}
        
        <div class="col-sm-3">
            <button type="button" class="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal">
            <div class="cardposter">

              
               

                <img src="{{d.news_poster.url}}" /> 
                <p>{{d.news_title}}</p>
            </div>
        
        </button>
        </div>
        {%endfor%}
        


    </div>
    {%for d in allnewsdata%}
    <!-- modal -->
    <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{d.news_title}}</h4>
          </div>
          <div class="modal-body">
          <img src="{{d.news_poster.url}}" />
          <h2>Content:{{d.news_content}}</h2>
          <h2>Location:{{d.news_loc}}</h2>
          <h2>Date:{{d.news_date}}</h2>
          
          

          
          </div>
        </div>
        
      </div>
    </div>
    <!-- modal end -->
    {%endfor%}
   {% endblock content %}