{% extends 'base.html' %}
{% block title %}Courses{% endblock %}
    {% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       


    <div class="row posters">
        {% for data in allCoursesData%}
        
        <div class="col-sm-3">
            <button type="button" class="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal">
            <div class="cardposter">
                <img src="{{data.course_details.url}}" />
        <div class="pclass">
            <!--<p>Category:</p><h1>{{data.course_dancecategory}}</h1>
        <p>Trainer:<p><h1>{{data.course_tutor}}</h1>-->
        <p>Course Name:<p><h1>{{data.course_name}}</h1>
        <!--<p>Level:<p><h1>{{data.course_level}}</h1> -->
        
         </div>   
         
                
                
            
        
        </button>
        </div>
        {%endfor%}
        


    </div>
   {% endblock content %} 
      