{% extends 'base.html' %}
{% block title %}Videos{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Course videos</h2>
    
       
        
          <h1 class="section-header"></h1>
          <!--<div class="section-header-underline"></div>-->
          <div class="row posters videorow">

            
            
          {%for data in allVideos%}
          <div class="col-sm-3 colcol">
          
          <div class="video-gallery">
           
            
            <div class="gallery-item">
              <img src="{{data.cv_thumbnail.url}}" />
              <div class="gallery-item-caption">
                <div>
                  <h2>{{data.cv_title}}</h2>
                  
                </div>
                <a class="vimeo-popup myvideos" href ="" data-toggle="modal" data-target="#my{{forloop.counter}}modal"></a>
              </div>
            </div>
            
            </div>
            </div>
        {%endfor%}
        </div>
    

        
     <script>
     
     var cip = $(".video-gallery").hover( hoverVideo, hideVideo );

function hoverVideo(e) {  
    $('video-gallery', this).get(0).play(); 
}

function hideVideo(e) {
    $('video-gallery', this).get(0).pause(); 
}
    </script>  
 {%for data in allVideos%}
      <!-- modal -->
      
      <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              

            
            </div>
            <div class="modal-body">
            <video class="" controls="controls"  ><source src="{{data.cv_video.url}}" type="video/mp4"/></video>  
            <h2></h2>
            <h2></h2>
            <h2></h2>
            
            

            
            </div>
          </div>
          
        </div>
      </div>
      <!-- modal end -->                  
   {%endfor%}   
        
   <script>
    $('.fade-scale').on('hide.bs.modal', function(e) {
      var $v = $(e.delegateTarget).find('video');
      $v[0].pause();  // use [0] because jQuery returns a list
    });
  </script>
 

 

   
   {% endblock content %} 
   
  