{% extends 'base.html' %}
{% block title %}Videos{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Course videos</h2>
    
       
        
          <h1 class="section-header"></h1>
          <!--<div class="section-header-underline"></div>-->
          <div class="row posters videorow">

            
           {%if allVideos%} 
          {%for data in allVideos%}
          <div class="col-sm-3 colcol">
          
          <div class="video-gallery">

           
            
            <div class="gallery-item">
              <img src="{{data.cv_thumbnail.url}}" />
              <div class="gallery-item-caption">
                <div>
                  <h2>{{data.cv_title}}</h2>
                  
                </div>
                <a class="vimeo-popup myvideos" href ="" data-toggle="modal" data-target="#my{{forloop.counter}}modal"></a>
              </div>
            </div>
            
            </div>
            </div>
        {%endfor%}
        {%else%}
        <p class="empty"style="font-size: 67px !important;">No videos are uploaded by tutor yet.</p>
        {%endif%}
        </div>
    

        
     <script>
     
     var cip = $(".video-gallery").hover( hoverVideo, hideVideo );

function hoverVideo(e) {  
    $('video-gallery', this).get(0).play(); 
}

function hideVideo(e) {
    $('video-gallery', this).get(0).pause(); 
}
    </script>  
 {%for data in allVideos%}
      <!-- modal -->
      
      <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          
          <div class="modal-content videoframe">
            <div class="modal-header noheader">
              <h4 class="modal-title"></h4>
              {%if data.cv_approve%}
              <form action="{%url 'Administrator:viewvideo' data.cv_course.slug%}" method="POST" class="cancelappr" name="" id="" enctype="multipart/form-data">
                {%csrf_token%}
                
                  <select name="vid" id="vid" onchange="LoadPLace(this.value)"style="display:none;">
                    
                    <option value="{{data.id}}" selected >{{data.cv_title}}</option>
                    
                  </select>
                
                  
                <button type="submit" class="Approval" name="go" id="go" value="submit">Cancel</button>
                
                
                
            </form> 
              {%else%}
              <form action="{%url 'Administrator:viewvideo' data.cv_course.slug%}" method="POST" class="appr" name="" id="" enctype="multipart/form-data">
                {%csrf_token%}
                
                  <select name="vid" id="vid" onchange="LoadPLace(this.value)"style="display:none;">
                    
                    <option value="{{data.id}}" selected >{{data.cv_title}}</option>
                    
                  </select>
                
                  
                <button type="submit" class="approval" name="go" id="go" value="submit">Approve</button>
                
                
                
            </form>

            {%endif%}
            

              

            
            </div>
            <div class="modal-body">
            <video class="videomodal" controls="controls"  ><source src="{{data.cv_video.url}}" type="video/mp4"/></video>  
            <h2></h2>
            <h2></h2>
            <h2></h2>
            
            

            
            </div>
          </div>
          
        </div>
      </div>
      <!-- modal end -->                  
   {%endfor%}   
        
   <script>
    $('.fade-scale').on('hide.bs.modal', function(e) {
      var $v = $(e.delegateTarget).find('video');
      $v[0].pause();  // use [0] because jQuery returns a list
    });
  </script>
 
{% comment %} <script>
  $('.appr').submit(function(e){
    e.preventDefault();
    url = $(this).attr('action')
    data = $(this).serialize(); 
    $.post(url, data, function(response){
      alert('Thoughts sent.');
    })
})
</script>
<script>
  $('.cancelappr').submit(function(e){
    e.preventDefault();
    url = $(this).attr('action')
    data = $(this).serialize(); 
    $.post(url, data, function(response){
      alert('Thoughts sent.');
    })
})
</script> {% endcomment %}
 

   
   {% endblock content %} 
   
  