{% extends 'base.html' %}
{% block title %}Login{% endblock %}
    {% block content %}
    <h1 class="pagetitle">Feedback</h2>
    <form  class="feed"action="{%url 'Administrator:videofeed'%}" method="POST">
        {%csrf_token%}
        <button type="submit" value="submit" class="btn btn-success subscription">Video Feedback</button>
    </form>

    {%for a in feed%}
    <div class="feeddiv">
    <p class="badge badge success">{{a.feedstudent.student_name}}</p>
    <p>{{a.feedstudent.student_email}}<p>
    <h1>{{a.feedcontent}}</h1>
    <h2>{{a.feedsend}}</h1>
    </div>
    {%endfor%}
    

    {% endblock content%}