{% extends 'base.html' %}
{% block title %}Login{% endblock %}
    {% block content %}
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="formcontainer">
            <label><b>News Title</label><br>
                <input type="text" class="" name="ntitle"><br>
            <label>News content</label>
                <textarea name="ncontent" id="" cols="50" rows="4"></textarea><br>
            <label>News type</label><br>
                <select name="ntype" id="" onchange="LoadPLace(this.value)">
                    <option>--select--</option>
                    {%for data in NewsTypeRecords%}
                        <option value="{{  data.id }}">{{data.newstype_name}}</option>
                    {% endfor %}
                </select><br> 
              
            <label>Upload Image</label><br> 
                <input type="file" name="nposter" id="nposter"></b>
            

        </div>
        <div><button type="submit" class="signup" value="submit">Create News</button>
        </div>
        
    
    
    </form>
    {% endblock content %}