{% extends 'base.html' %}
{% block title %}Login{% endblock %}
    {% block content %}
    <h1 class="pagetitle">News</h2>
<a  href=""class="btn btn-danger uploadvid" data-toggle="modal" data-target="#myadd"><i class="fa fa-video-camera" aria-hidden="true"></i>Add
      </a> 
<div class="row posters" style="margin-top:15px;">
        {%for d in news%}
        
        <div class="col-sm-3">
            <button type="button" class="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal">
            <div class="cardposter">

              
               

                <img src="{{d.news_poster.url}}" /> 
                <p>{{d.news_title}}</p>
            </div>
        
        </button>
        </div>
        {%endfor%}
        


    </div>
    {%for d in news%}
    <!-- modal -->
    <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{d.news_title}}</h4>
          </div>
          <div class="modal-body">
          <img src="{{d.news_poster.url}}" />
          <h2>Content:{{d.news_content}}</h2>
          <h2>Location:{{d.news_loc}}</h2>
          <h2>Date:{{d.news_date}}</h2>
          
          

          
          </div>
        </div>
        
      </div>
    </div>
    <!-- modal end -->
    {%endfor%}




    <!---->

        <!-- modal -->
    <div class="modal fade-scale" id="myadd" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
         <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
         <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}\
        <label>News type</label><br>
        <select name="ntype" id="" onchange="LoadPLace(this.value)">
            <option>--select--</option>
            {%for data in NewsTypeRecords%}
                <option value="{{  data.id }}">{{data.newstype_name}}</option>
            {% endfor %}
            </select><br>
        
            <label><b>News Title</label><br>
                <input type="text" class="" name="ntitle"><br>
            <label>News content</label>
                <textarea name="ncontent" id="" cols="50" rows="4"></textarea><br>
            <label><b>Location</b></label>
                    <select name="nloc" id="nloc" onchange="LoadPLace(this.value)">
                      {%for d in loc%}
                      <option value="{{d.id}}">{{d.district_name}}</option>
                      {%endfor%}
                   
                </select><br> 
              <label><b>Date</b></label><br>
              <input type="date" name="ndate"><br>
              
            <label>Upload Image</label><br> 
                <input type="file" name="nposter" id="nposter"></b>
            

        
        <button type="submit" class="" value="submit" class="btn btn-success subscription">Create News</button>
        
        
    
    
    </form>
         
          
          

          
          </div>
        
        
      </div>
    </div>
    <!-- modal end -->
    {% endblock content %}