
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
    {% block content %}
<h1 class="pagetitle">Tutors</h2>
<a  href=""class="btn btn-danger uploadvid" data-toggle="modal" data-target="#myadd"><i class="fa fa-plus" aria-hidden="true"></i>Add</a>
    <div class="row posters" style="margin-top:39px;">
        {%for d in Tutor%}
        
        <div class="col-sm-3">
        <form action="{%url 'Administrator:deletetutor' d.id%}" method="POST">
            {%csrf_token%}
            <button type="submit" value="submit" class="btn btn-danger deletefav deletetut"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>
            <button type="button" class="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal">
            <div class="cardposter">

              
               

                <img src="{{d.tutor_photo.url}}" /> 
                <p>{{d.tutor_name}}</p>
            </div>
        
        </button>
        </div>
        {%endfor%}
        


    </div>
    {%for d in Tutor%}
    <!-- modal -->
    <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{d.tutor_name}}</h4>
            <a href="{%url 'Administrator:courses' d.id%}" class="btn btn-success subscription">Courses</a>
          </div>
          <div class="modal-body">
          <img src="{{d.tutor_photo.url}}" />
          <h2>{{d.tutor_dancecategory.dancecategory_name}}</h2>
          <h2>{{d.tutor_designation.designation_name}}</h2>
          <h2></h2>
          
          

          
          </div>
        </div>
        
      </div>
    </div>
    <!-- modal end -->
    {%endfor%}
   
<!-- modal -->
    <div class="modal fade-scale" id="myadd" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Tutor</h4>
          </div>
          <div class="modal-body">
          <img src="" />
             <form method="POST"enctype="multipart/form-data" >
{% csrf_token %} 

<h1>Sign Up Form</h1>
<p>Full Name:</p>
<input type="text" place holder="Full Name" name="tname" required>
<p>Phone number:</p>
<input type="text" place holder="Contact" name="tnum" required>
<p>Email</p>
<input type="text" placeholder="Enter Email" name="temail" required>
<p>Birthday:</p>
<input type="date" id="tdob" name="tdob">
<div class="radiobtn">
<p>Gender</p>
<input type="radio"  name="tgender" value="male">
  <p>Male</p>
  <input type="radio" name="tgender" value="female">
  <p>Female</p>
  <input type="radio" name="tgender" value="other">
  <p>Others</p></div>
  <p>District</p>
  <select name="tdistrict" id="tdistrict" onchange="LoadPLace(this.value)">
  <option>--select--</option>
  {%for data in dis%}
    <option value="{{  data.id }}">{{data.district_name}}</option>
  {% endfor %}
  </select><br>
  <p>Dance category</p>
  <select name="tcat" id="tcat" onchange="LoadPLace(this.value)">
  <option>--select--</option>
  {%for data in cat%}
    <option value="{{  data.id }}">{{data.dancecategory_name}}</option>
  {% endfor %}
  </select><br>
   <p>Designation</p>
  <select name="tdesign" id="tdesign" onchange="LoadPLace(this.value)">
  <option>--select--</option>
  {%for data in des%}
    <option value="{{  data.id }}">{{data.designation_name}}</option>
  {% endfor %}
  </select><br>
  
<p>Username</p>
<input type="text" placeholder="Enter username" name="tusername" required>  



<p>Password</p>
<input type="password" placeholder="Enter Password" name="tpassword" required>
<p>Repeat Password</p>
<p>Upload Profile Picture</p>
 <input type="file" id="tphoto" name="tphoto"><br>
  <button type="submit" value="submit" class="btn btn-success subscription">ADD   </button>     
          

          
          </div>
        </div>
        
      </div>
    </div>
    <!-- modal end -->

{% endblock content %}