{% extends 'base.html' %}
{% block title %}Home{% endblock %}
    {% block content %}


    <div class="row posters" style="margin-top:-5px;">
        {%for d in allnewsdata%}
        
        <div class="col-sm-3">
            <button type="button" class="cardclass" data-toggle="modal" data-target="#my{{forloop.counter}}modal">
            <div class="cardposter">

              
               

                <img src="{{d.news_poster.url}}" /> 
                <p>{{d.news_title}}</p>
            </div>
        
        </button>
        </div>
        {%endfor%}
        


    </div>
    {%for d in allnewsdata%}
    <!-- modal -->
    <div class="modal fade-scale" id="my{{forloop.counter}}modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{d.news_title}}</h4>
          </div>
          <div class="modal-body newsmodal">
          <img src="{{d.news_poster.url}}" />
          <h2 class="newscontent"><p>{{d.news_content}}</p></h2>
          <h2 class="marker"><i class="fa fa-map-marker" aria-hidden="true"></i><p>{{d.news_loc}}</p></h2>
          <h2 class="calendar"><i class="fa fa-calendar newscalendar" aria-hidden="true"></i><p>{{d.news_date}}</p></h2>
          
          

          
          </div>
        </div>
        
      </div>
    </div>
    <!-- modal end -->
    {%endfor%}
   {% endblock content %}