{% extends 'base.html' %}
{% block title %}Video Feed{% endblock %}
    {% block content %}
    
    {%for a in feed%}
    {%if a.vview%}
    <div class="feed">
    <p class="badge badge success feedtitle">{{a.vfvideo.cv_title}}</p>
    
    <h1 class="feedback">{{a.vfvideo.cv_course.course_name}}</h1>
    
    
    <h1 class="content"><p>{{a.vcontent}}</p></h1>
    <h2 class="datesend">{{a.vfsend}}</h1>

        
    <form method="POST" action="{%url 'Tutor:likefeed' a.vfvideo.id%}" >
        {%csrf_token%}
        
        <button type="submit" value="submit" class="btb btn-success subscription"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
        </button>
    

    </form>
</div> 
   
    {%else%}
    
    <div class="feed">
    <p class="badge badge success feedtitle">{{a.vfvideo.cv_title}}</p>
    
    <h1 class="feedback">{{a.vfvideo.cv_course.course_name}}</h1>
    
    
    <h1 class="content"><p>{{a.vcontent}}</p></h1>
    <h2 class="datesend">{{a.vfsend}}</h1>
        
    <form method="POST" action="{%url 'Tutor:likefeed' a.vfvideo.id%}" >
        {%csrf_token%}
        
        <button type="submit" value="submit" class="btb btn-success subscription"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </button>
    

    </form> 
</div>
    {%endif%}
    {%endfor%}

        

    

    

    



    {% endblock content%}